body {
  margin: 0;
  background: #f8fafc;
}

/* SAFE SPACE FOR FIXED NAVBAR + FOOTER */
#root {
  padding-top: 70px;   /* navbar height */
  padding-bottom: 60px; /* footer height */
  box-sizing: border-box;
}
